@import "tailwindcss";
@plugin "daisyui" {
   themes: light --default, dark --prefersdark;
 }
 @plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #7c3aed;
  --color-secondary: #ec4899;
  --color-accent: #f59e0b;
}

@custom-variant dark (&:where([data-theme=night], [data-theme=night] *));